.form-border{
    border: 4px solid hsl(141, 71%, 48%);
    border-radius:25px;
    max-width:max-content;
    margin: 0 auto;
}

.align-left{
    margin-left:80px;
}

.footer-mine{
    background-color: #fafafa;
    padding: 2.5rem 3rem;

    position:fixed;
    bottom:0;
    width: 100%;
}

a{
    text-decoration: none;
    color:inherit;
}