.post-align{
    margin: 0 auto;
}

@media screen and (min-width: 769px), print{
    .tile:not(.is-child) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
    }
}
