.profile-details{
    font-weight: 300;
}

.notification.is-primary{
    position: absolute !important;
    z-index: 100;
}
 .center{
    position: absolute !important;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    
}
a{
    text-decoration: none !important;
}